{% set transitions = ('most of all', 'most noteworthy', 'especially relevant', 'seems like', 'maybe', 'probably', 'almost', 'as a result', 'hence', 'consequently', 'therefore', 'in conclusion', 'same', 'less', 'rather', 'while', 'yet', 'opposite', 'much as', 'either', 'because', 'so', 'due to', 'while', 'since', 'therefore', 'and', 'first of all', 'also', 'another', 'furthermore', 'finally', 'in addition') %}
{% set verbs = ('catch', 'concentrate on', 'devote oneself', 'follow', 'get a load of', 'hear', 'hearken', 'heed', 'keep one\'s eye on', 'lend an ear', 'listen', 'listen up', 'look after', 'look on', 'mark', 'mind', 'note', 'notice', 'observe', 'occupy oneself with', 'pay heed', 'pick up', 'regard', 'see to', 'watch') %}
{% set pronouns = ('this', 'that', 'those') %}
{% set adjectives = ('hot', 'sexy', 'juicy', 'lesbian', 'gay', 'virgin', 'sensual', 'hard', 'slutty', 'beautiful', 'deep', 'cute', 'creampie', 'amateur', 'anal', 'big', 'gorgeous', 'extreme', 'horny', 'fetish', 'facial', 'young', 'glamour', 'nasty', 'shocking', 'doggstyle', 'crazy', 'chubby', 'classy', 'submissive', 'bizarre', 'dirty') %}