{% import 'grammar.jinja' as g with context %}
{% for l in range( lines | random ) %}
{{ g.transitions | random() }} {{ g.verbs | random() }} {{ g.pronouns | random() }} {{ g.adjectives | random() }} {{ keywords | random() }} 
{%- endfor %}
